<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="FeedApp_AspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" 
                arguments="%LAUNCHER_ARGS%" 
                stdoutLogEnabled="false" 
                stdoutLogFile=".\logs\stdout" 
                requestTimeout="00:20:00" 
                forwardWindowsAuthToken="false" />
  </system.webServer>
</configuration>